 /* Add your CSS styling here */
 body {
     font-family: 'Times New Roman', Times, serif;
     ;
 }
.main_title {
    display: flex;
    /* This turns .main_title into a flex container */
    align-items: left;
    /* This will vertically center the items in the container */
    justify-content: left;
    /* This will horizontally center the container's content */
    padding-top: 60px;
    padding-bottom: 20px;
}

.text_container {
    display: flex;
    flex-direction: column;
    /* Stacks children vertically */
    justify-content: center;
    /* Center the text vertically */
    padding-left: 350px;
    /* Optional: Adds some space between the image and the text */
}

 .main_title h1 {
     color: #005A9C;
     flex-grow: 1;
     /* Allows the title to take up the remaining space */
     text-align: center;
     margin: 0;
     /* Removes margin to center the title correctly */
 }

 .main_title h3 {
     color: #7dafd3;
     flex-grow: 1;
     /* Allows the title to take up the remaining space */
     text-align: center;
     margin: 1;
     /* Removes margin to center the title correctly */
 }
 
 .main_title img {
     position: absolute;
     top: 60px;
     width: 100px;
     left: 200px;
     /* Adjust this value to scale the size of the logo */
     height: auto;
     /* This will maintain the aspect ratio of the logo */
     /* margin-right: 10px; is not necessary unless you want additional spacing on the right side of the logo */
 }

 .full-nav {
     position: absolute;
     /* Fixes the navbar at the current location on the page */
     top: 100px;
     /* Aligns the navbar to the top of the page */
     left: 30px;
     /* Aligns the navbar to the left of the page */
     width: 60%;
     /* Ensures the navbar spans the full width of the viewport */
     /* background-color: #fff; */
     /* Gives the navbar a background color so that content scrolls behind it */
     z-index: 1000;
     /* Ensures the navbar is above other page content */

 }

 .navbar {
     display: flex;
     justify-content: center;
     list-style-type: none;
     padding: 30px;
 }

 .navbar li {
     margin: 0 50px;
 }

 .navbar a {
     text-decoration: none;
     color: #177dc5;
     font-size: 20px;
     padding: 5px;
     /* Add padding to create space around the text */
     transition: background-color 0.3s, box-shadow 0.3s;
     padding: 10px 15px;
     box-sizing: border-box;
     /* Smooth transition for hover effect */
 }

 .navbar a:hover {
     background-color: rgb(229, 240, 247);
     /* Light grey background on hover, change as needed */
     /* box-shadow: 0 0 5px rgba(86, 185, 250, 0.2); */
     /* Optional: adds a subtle shadow effect */
     border-radius: 5px;
     /* Optional: if you want rounded corners */
 }

.team-section {
    text-align: center;
    padding-top: 30px;
}

.team-section h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #005A9C;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Adjust the gap as needed */
    flex-wrap: wrap;
    /* align-items: flex-start; */
           
}

.member {
    width: 400px;
    background-color: rgb(229, 240, 247);
    border-radius: 1%;
    flex-basis: calc(30% - 20px);
    box-sizing: border-box;

    /* Adjust the width as needed */
}

.member img {
    width: 60%;
    /* Make the image responsive */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 1%;
    /* Optional: if you want round images */
}

.member_content{
    padding: 10px;
    text-align: left;
}

.member h2 {
    font-size: 18px;
    /* Adjust the size as needed */
    color: #333;
    /* Adjust the color as needed */
    margin-top: 10px;
    color: #005A9C;
    /* Adjust the space as needed */
}

.member h3 {
    font-size: 16px;
    /* Adjust the size as needed */
    margin-top: 5px;
    color: #177dc5;
    /* Adjust the space as needed */
}

.member p {
    text-align: left;
    font-size: 14px;
    /* Adjust the size as needed */
    margin-top: 5px;
    color: #005A9C;
    /* Adjust the space as needed */
}

.get_Involved{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.get_Involved h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #005A9C;
}



 .button-link {
     background-color: hsl(206, 96%, 31%);
     /* Background color for the button */
     color: white;
     /* Text color for the button */
     padding: 10px 20px;
     /* Padding inside the button */
     border-radius: 5px;
     /* Rounded corners for the button */
     display: inline-block;
     /* Allows padding and margin to affect the link */
     text-transform: uppercase;
     /* Uppercase text for the button */
 }

.button-container {
    text-align: center;
}

.button-link:hover {
    background-color: hsl(206, 96%, 38%);
    /* Darker background on hover */
}